@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "pnp";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.002 247.839);
  --color-base-300: oklch(98% 0.003 247.858);
  --color-base-content: rgba(2, 8, 13, 1);
  --color-primary: rgba(112, 36, 219, 1);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(57% 0.245 27.325);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: rgba(197, 154, 253, 1);
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: rgba(79, 207, 255, 1);
  --color-neutral-content: oklch(96% 0.016 293.756);
  --color-info: rgba(79, 207, 255, 1);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: rgba(103, 255, 204, 1);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: rgba(252, 252, 59, 1);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@custom-variant hover (&:hover);

@theme {
  --color-pnp-darkpurple: #7024db;
  --color-pnp-darkblue: #3bc7fc;
  --color-pnp-green: #67ffcc;
  --color-pnp-purple: #c59afd;
  --color-pnp-blue: #4fcfff;
  --color-pnp-black: #02080d;
}

@utility pnp-shadow {
  box-shadow: 0px 4px 17.6px -3px rgba(0, 0, 0, 0.25);
}

@layer base {
  body {
    @apply bg-[#02080D] px-[10vw];

    font-family: "Inter Variable", sans-serif;
  }
  h1 {
    @apply text-5xl text-white font-extrabold uppercase mb-4;
  }
  h2 {
    @apply text-3xl  text-white font-extrabold uppercase mb-2;
  }
  h3 {
    @apply text-2xl text-white font-extrabold uppercase mb-2;
  }
  p {
    @apply text-lg  text-white font-semibold mb-2;
  }
  small {
    @apply text-sm  text-white font-semibold;
  }

  .btn-primary-light {
    @apply flex items-center justify-center px-[16px] bg-linear-165 box-border from-pnp-darkpurple to-pnp-darkblue text-white text-base xl:text-lg font-extrabold h-[54px] rounded-[7px] cursor-pointer pnp-shadow hover:scale-98  ease-in-out duration-200 m-1;
  }

  .btn-primary-dark {
    @apply flex items-center justify-center px-[16px] bg-pnp-black box-border text-white text-base xl:text-lg font-extrabold h-[54px] rounded-[7px] cursor-pointer pnp-shadow hover:scale-98  ease-in-out duration-200 m-1;
  }

  .btn-secondary-light {
    @apply flex items-center justify-center px-[16px] bg-none box-border text-white text-base xl:text-lg border-[2px] translate-y-[2px] font-extrabold h-[54px] rounded-[7px] cursor-pointer pnp-shadow hover:scale-98  ease-in-out duration-200 m-1;
  }

  .btn-secondary-dark {
    @apply flex items-center justify-center px-[16px] bg-none box-border text-pnp-black text-base xl:text-lg border-[2px] translate-y-[2px] font-extrabold h-[54px] rounded-[7px] cursor-pointer pnp-shadow hover:scale-98  ease-in-out duration-200 m-1;
  }

  @media (max-width: 1250px) {
    body {
      @apply bg-[#02080D] px-[2vw];
    }
    h1 {
      @apply text-4xl text-white font-extrabold uppercase mb-2;
    }
    h2 {
      @apply text-2xl  text-white font-extrabold uppercase mb-1;
    }
    h3 {
      @apply text-lg text-white font-extrabold uppercase mb-1;
    }
    p {
      @apply text-base  text-white font-semibold mb-1;
    }
    small {
      @apply text-sm  text-white font-semibold;
    }
  }
}
